# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book/

# eBook build output
*.epub
*.mobi
*.pdf

# rmd build file
/*.rds


# data
data/
Rdata/

# raw Rmd
*.Rmd


.Rproj.user


# cache files
_bookdown_files/


.DS_Store
.DS_Store?

*_cache
./*_files


